Registro de Pacientes.
<div >
  <mat-form-field>
      <input matInput placeholder="Nombres" [(ngModel)]="paciente.nombres">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Apellidos" [(ngModel)]="paciente.apellidos">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Direcion" [(ngModel)]="paciente.direccion">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Telefono" [(ngModel)]="paciente.telefono">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="paciente.email">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="DNI" [(ngModel)]="paciente.dni">
  </mat-form-field>

<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>

</div>

